/.gradle
/commons/build
/authserver/build
/gameserver/build

/commons/src/generated
/authserver/src/generated
/gameserver/src/generated

/classes

/.idea/workspace.xml

/authserver/dist/log/*.log
/authserver/dist/config/*.properties

/gameserver/dist/log/*.log
/gameserver/dist/config/*.properties
/commons/log

/log
/.idea/dataSources.ids

/.idea/dataSources.xml
